@{
    ViewBag.Title = "Home";
}

<h2>Welcome!</h2>

<row>
    <div class="col-md-3">
        @Html.ActionLink("Loan Calculator", "Index", "LoanCalculator")
    </div>
</row>
<row>
    <div class="col-md-3">
        @Html.ActionLink("Paragraph Manipulation", "Index", "ParagraphManipulation")
    </div>
</row>
